.self-checkup-one {
    position: absolute;
    right: 40px;
    margin-top: 130px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    background-color: rgb(58, 200, 251);
    color: white;
}

.self-checkup-img-one {
    width: 200px;
    height: 200px;
    background-color: transparent;
}

.self-checkup-two {
    position: absolute;
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    top: 450px;
    left: 40px
}

.self-checkup-img-two {
    width: 200px;
    height: 200px;
    background-color: transparent;
}

.self-checkup-button {
    width: 200px;
    align-self: left;
}

.SC-p {
    max-width: 80ch;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
}

.SC-h3 {
    text-align: left;
}