.review-form-container {
    box-sizing: border-box;
    margin-top: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    text-align: center;
    background-color: rgb(217, 217, 217);
  }
  
 .review-form-submit {
    width: 9rem;
    background-color: blue;
    border: none;
    color: white;
    margin: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

  td.provide-feedback,
  th.provide-feedback {
    width: 300px;
    text-align: left;
}

.submit-message p {
    margin-bottom: 20px;
    text-align: center;
}
  