.health-tips-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.HT-h3 {
    text-decoration: underline;
    text-align: left;
}

.HT-p {
    max-width: 80ch;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
}

.tip-box {
    background-color: rgb(239, 239, 239);
    padding: 20px;
}