.get_started_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 150px 0px 50px;
}

.service_image {     /*Image Links*/
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.image-container {
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.1);
}

.link_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 4px 4px rgb(221, 221, 221);
    font-size: larger;
}

h4 {
    margin: 5px;
}